* {
    
    font-family: "Montserrat", sans-serif;
  }
  

a{
    text-decoration: none;
}

.cv {
    background-color:#B9DEDF;
    width: 40%;
    height: auto;
    display: flexbox;
    flex-wrap: wrap;
    margin: auto;
}

header{
    background-color: #ECECEC;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    }

.profile_img{
    background-color: antiquewhite;
    flex-grow: 7;
    width: 10em;
    height: 21em;
    }

 .profile_img img {
     width: 100%;
     height: 100%;
 }   
    
.contact_list {
    color: #434745;
    list-style: none;
    display: block;
    padding: 0;
    margin-left: 2%;
    margin-bottom: 5%;
}

.contact_list li {
    margin-bottom: 2%;    
}

.contact_list li :last-child { margin-bottom: 0;}

.resume_profile{
    width: 60%;
    flex-grow: 3;
    margin-left: 3%;
}    

.initials {
    margin-left: 2%;
}


.initials p {
    font-weight: 520;
    color: black;
    margin-bottom: 7%;
}

.about {
    color: #434745;
    
    font-size: 0.9em;
    margin-left:  2%;
}

.about3 {
    margin-bottom: 2%;
    font-size: 1em;
    font-weight: 600;
}

.info{
    margin-bottom: 30px;
}
.info :last-child {margin-bottom: 0px;}

.date {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0px;
}

.position {
    font-size: 0.98em;
    font-weight: 500;
    margin-bottom: 3px;
}

.duties{
    font-size: 0.9em;
    color: #434745;
    margin-bottom: 10px;
}

.duties :last-child {
    margin-bottom: 0px;
}

.container{
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}

.item {
 border-left:2px solid #060d0f;
 padding-left: 5px;
 display: block;
 margin: 10px;
 margin-right: 1.5em;
}

.list li  {
    margin-bottom: 5px;    
}
.list li :last-child {
    margin-bottom: 0px;
}